<!DOCTYPE html>
<html lang="en"xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/NewMenu.css">
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7"></script>
    <script src="Script/ScriptMenu.js" defer></script>
    <title>Menu</title>
</head>
<body>
    <main>
        <header id="Menu">
            <p id="Day">xx/xx/xxxx</p>
        </header>
        
        <section>
            
        </section>
    </main>
</body>
</html>